html
	head
		title 김밥천국 pos기
		style.
			* {
				box-sizing: border-box;
				padding: 0;
				margin: 0;
			}

			body {
				width: 100vw;
				height: 100vh;
				display: flex;
				flex-flow: column;
			}

			section.main {
				flex: 1;
				border: 1px solid indianred;
				margin: 10px;
			}

			header {
				width: 100vw;
				padding: 1rem;
				background-color: lightpink;
				color: white;
				text-align: center;
			}

			footer {
				background-color: lightpink;
				color: white;
				text-align: center;
				padding: 0.3rem;
			}

	body
		header
			h1 김밥천국 주문서
		
		section.main
			block content

		footer
			address CopyRight &copy;iniziato@naver.com