extends layout

block content
	article.order_list
		h1 !{table_id}번 테이블 주문리스트
		table.order_list
			thead
				tr
					td 메뉴
					td 수량
					td 단가
					td 금액
					td 삭제
			
			tbody
		
		div.btn_pay
			button.btn_home 처음으로
			button.btn_pay_cash 현금 결제
			button.btn_pay_card 카드 결제
		
	article.menu_list
		div.menu
			span #{vo.p_name} : #{vo.p_price}
	
	div.modal
		div.close
			span X
		
		div.message
			h1 결제 금액 : 
				span.pay_total
			h2 결제 종류 : 
				span.pay_type
			button.pay_complete 결제하기