extends layout

block content
	script(src="/js/order.js")
	style.
		div.total {
			display: flex;
			width: 70%;
			margin: 0 auto;
		}

		div.menu, div.list {
			margin: 0 auto;
		}
		

		table, tr, th, td {
			border: 1px solid mediumaquamarine;
			border-collapse: collapse;
			text-align: center;
			padding: 10px;
		}

		tr.menu_header {
			
		}

		button {
			padding: 5px 30px;
			cursor: pointer;
		}

		button.list {
			width: 80%;
		}

		div.list {
			width: 30%;
			text-align: center;
		}

		div.menulist {
			display: flex;
		}

	h2 상품 주문 리스트
	div.total
		div.menu
			h2.table_num #{o_table}번 테이블
			
			div.menu_list
				table.menu_table
					tr.menu_header
						th 메뉴
						th 단가
						th 수량
						th 금액
					
					tbody
						td(colspan="2") 합계
						td#total(colspan="2")
						
				div.modal
					button.order 주문하기
		
		div.list
			h2.menu_list 메뉴 리스트
			each vo, index in PR
				div.menulist(data-menu_code= vo.p_code)
					h3 #{vo.p_name}
					h3 #{vo.p_price}
			
			