extends layout

block content
	
	style.
		div.total {
			display: flex;
			width: 70%;
			margin: 0 auto;
		}

		table, tr, th, td {
			border: 1px solid chocolate;
			border-collapse: collapse;
			text-align: center;
			padding: 10px;
		}

		table.menu_table {
			margin: 0 auto;
		}

		div.modal {
			text-align: center;
		}

		button {
			padding: 5px 30px;
			cursor: pointer;
		}

		button.order {
			margin: 5px;
			border: 0.5px solid chocolate;
			background-color: linen;
		}

		button.list {
			width: 80%;
		}

		button.menu {
			width: 80%;
			margin: 3px;
			background-color: blanchedalmond;
			border: 0.5px solid chocolate;
		}

		div.menu {
			flex: 2;
		}

		div.list {
			width: 30%;
			text-align: center;
			flex: 1;
		}

	h2 상품 주문 리스트
	div.total
		div.menu
			h2.table_num #{o_table}번 테이블
			
			div.menu_list
				table.menu_table
					thead
						tr.menu_header
							th 메뉴
							th 단가
							th 수량
							th 금액
					
					tbody
						td(colspan="2") 합계
						td#total(colspan="2")
						
				div.modal
					button.order.home 처음으로
					button.order.pay 주문하기
		
		div.list
			h2.menu_list 메뉴 리스트
			each vo, index in PR
				div.menulist
					button.menu(data-menu_code= vo.p_code) #{vo.p_name} : #{vo.p_price}
	
	script(src="/js/order_insert.js")