extends layout

block content
	style.
		div.total {
			display: flex;
		}

		div.menu, div.list {
			margin: 0 auto;
		}
		

		table, tr, th, td {
			border: 1px solid mediumaquamarine;
			border-collapse: collapse;
			text-align: center;
			padding: 10px;
		}

		button {
			padding: 5px 30px;
			cursor: pointer;
		}

	h2 상품 주문 리스트
	div.total
		div.menu
			h3 #{o_table}번 테이블
			div
				table
					tr
						th 메뉴
						th 단가
						th 수량
						th 금액
					
					tr
						//- td= ORDER.o_pcode
						//- td= ORDER.o_price
						//- td= ORDER.o_count
						//- td= ORDER.o_price * ORDER.o_count
					
					tr
						td(colspan="2") 합계
						//- td(colspan="2")= ORDER.o_total
				button.pay 결제하기
		
		div.list
				div
					button.list 김밥
					button.list 참치
					button.list 단무지
				div
					button.list 라면
					button.list 만두
					button.list 냉면
				div
					button.list 비빔밥
					button.list 김치볶음밥
					button.list 제육볶음
			
	script.
		document.querySelector("button.pay").addEventListener("click", (e) =>{
			document.location.href="/order/pay"
		})

		document.querySelector("div.list").addEventListener("click", (e) => {
			let button = e.target
			if(button.tagName === "BUTTON") {
				let p_name = button.innerText;
				fetch("/list", {
					method: "POST",
					headers : {
						'Content-Type' : 'application/json;charset=utf-8'
					},
					body :JSON.stringfy({
						p_name : p_name
					})
				})
				.then(res => res.json())
				.then(result => {
					if(result) {
						console.log("뜨려나!")
					}
				})
			}
		})