* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  margin: 10px auto;
  padding: 20px;
  background-color: lightpink;
  width: 70%;
}

h3 {
  text-align: center;
  padding: 5px;
}

table.gimbap {
  padding: 5px;
  margin: 0 auto;
  border-spacing: 100px;
}

tr.gimbap,
td.gimbap {
  border: 1px solid plum;
}

td.gimbap {
  padding: 50px;
  margin: 10px;
}

footer {
  text-align: center;
  padding: 15px;
  width: 70%;
  margin: 10px auto;
  background-color: rgba(255, 182, 193, 0.514);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
