html
	head
		title 우리동네 공방 이야기
		style.
			* {
				box-sizing: border-box;
				margin: 0;
				padding: 0;
			}

			body {
				width: 100vw;
				height: 100vh;
				display: flex;
				flex-flow: column;
			}

			header {
				width: 80%;
				margin: 0 auto;
				text-align: center;
				color: chocolate;
				background-color: antiquewhite;
				padding: 1rem;
				margin-bottom: 10px;
			}

			section.main {
				flex: 1;
				width: 80%;
				border: 1px solid lightpink;
				margin: 0 auto;
			}
			
			footer {
				width: 80%;
				margin: 0 auto;
				text-align: center;
				color: chocolate;
				background-color: antiquewhite;
				padding: 0.5rem;
				margin-top: 10px;
			}
	body
		header
			h1 우리동네 공방이야기
			
		section.main
			block content
	
	footer
		address CopyRight &copy;iniziato@naver.com
