extends layout

block content
	style.
		button {
			width: 20%;
			text-align: center;
			border: none;
			background-color: lightpink;
			margin: 3px;
			padding: 0.3rem;
		}

	h1 여기는 지역별로 찾기 위한 페이지입니다.
	h2 일단 지역마다 다 나열함.

	div.gyeonggi-kwon
		button 서울
		button 인천
		button 경기

	div.chungcheong-kwon
		button 세종
		button 대구
		button 충남
		button 충북
		
	
	div.honam-kwon
		button 광주
		button 전남
		button 전북
	
	div.gyeongsang-kwon
		button 부산
		button 울산
		button 대구
		button 경남
		button 경북
	
	div.gangwon-kwon
		button 강원

	div.jeju-kwon
		button 제주